.filters {
	background-color: white;
	height: 70px;
	border: 1px solid var(--light-gray-400);
	border-radius: 4px;
	display: flex;
	align-items: center;
	box-shadow: 1px 1px 3px var(--light-gray-400);
}

.filters button {
	font-size: var(--fs-500);
	background-color: var(--light-red);
	color: white;
	height: 48px;
	width: 20%;
	border-radius: 4px;
	margin-left: auto;
	margin-right: 30px;
}

.filters button:hover {
	opacity: 90%;
}

.filters div:first-child {
	border-right: 1px solid var(--light-gray-400);
}

.filters .locations,
.filters .amenities {
	position: relative;
	width: 25%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.filters .locations h3,
.filters .amenities h3 {
	font-weight: 600;
	margin-left: 40px;
}

.filters .locations h4,
.filters .amenities h4 {
	font-weight: 400;
	margin-left: 40px;
	font-size: var(--fs-300);
}

.filters .popover,
.filters .popover {
	display: none;
	position: absolute;
	z-index: 999;
	top: 100%;
	width: 100%;
	background-color: var(--light-gray-100);
	border: 1px solid var(--light-gray-400);
	border-radius: 0 0 4px;
	padding: 40px 20px;
	box-shadow: 1px 1px 3px var(--light-gray-400);
}

.filters .popover li h2 {
	font-size: var(--fs-400);
	margin-bottom: 10px;
}

.filters .locations .popover li p {
	margin-left: 20px;
}

.filters .amenities .popover li {
	margin-left: 20px;
}

.filters .locations .popover li:not(:last-child) {
	margin-bottom: 20px;
}

.filters .locations .popover li p {
	cursor: pointer;
}

.filters .locations .popover li p:not(:last-child) {
	margin-bottom: 5px;
}

.filters .amenities .popover li:not(:last-child) {
	margin-bottom: 5px;
}

.filters .locations:hover .popover,
.filters .amenities:hover .popover {
	display: block;
}