.places {
	display: flex;
	flex-direction: column;
}

.places h1 {
	margin-top: 30px;
	font-size: var(--fs-900);
}

.places .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.places article {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 390px;
	margin: 20px;
	padding: 20px;
	border: 1px var(--light-red) solid;
	border-radius: 4px;
}

.places article h2 {
	font-size: font-size: var(--fs-600);
}